<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>EventController</display-name>
    <servlet-name>EventController</servlet-name>
    <servlet-class>controller.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventController</servlet-name>
    <url-pattern>/EventController</url-pattern>
  </servlet-mapping>
  <display-name>DecoratorProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
		<description></description>
		<display-name>profileController</display-name>
		<servlet-name>profileController</servlet-name>
		<servlet-class>controller.profileController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profileController</servlet-name>
		<url-pattern>/profileController</url-pattern>
	</servlet-mapping>
  <servlet>
		<description></description>
		<display-name>DashboardServlet</display-name>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/DashboardServlet</url-pattern>
	</servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.auth.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.auth.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketController</display-name>
    <servlet-name>TicketController</servlet-name>
    <servlet-class>controller.TicketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketController</servlet-name>
    <url-pattern>/TicketController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEventController</display-name>
    <servlet-name>AddEventController</servlet-name>
    <servlet-class>controller.AddEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventController</servlet-name>
    <url-pattern>/AddEventController</url-pattern>
  </servlet-mapping>
</web-app>